.footer {
    background-color: #FAFAFB;
    padding: 72px 0;
    border-bottom: 1px solid #E7E7E9;

    .footer-wrapper {
        padding-bottom: 72px;
        border-bottom: 1px solid #E7E7E9;
    }

    .left-sec-footer {
        max-width: 250px;
        width: 100%;

        figure {
            width: 104px;
            height: 26px;

            path {
                fill: $primary-color;
            }
        }

        p {
            font-size: 16px;
            line-height: 20px;
            color: $global-black;
            padding: 25px 0;
        }

        .social-icons {
            gap: 18px;

            a {
                color: #3D3D4E;

                i {
                    font-size: 18px;
                }
            }
        }
    }

    .footer-link-wrapper {
        .footer-link {
            max-width: 150px;
            width: 100%;

            .footer-link-head {
                font-family: $helveticaneue-medium-font;
                font-size: 16px;
            }

            .footer-link-list {
                gap: 20px;

                a {
                    font-size: 14px;
                    color: #3D3D4E;
                }
            }
        }
    }


    .footer-bottom {
        padding: 44px 0;

        .left-footer-bottom {
            font-size: 14px;
            color: #6E6D7A;
        }

        .right-footer-bottom {
            gap: 16px;

            p {
                font-size: 14px;
                color: #6E6D7A;

                span {
                    font-family: $helveticaneue-medium-font;
                    color: $global-black;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        .main-footer-row {
            gap: 80px;
        }

        .footer-link-wrapper {
            row-gap: 50px;
        }
    }
}

@media screen and (max-width: 576px) {
    .footer {
        .footer-link-wrapper .footer-link {
            max-width: unset;

        }
    }
}