.footer {
    background-color: $footer-bg;
    padding: 72px 0;

    .footer-wrapper {
        padding-bottom: 72px;
        border-bottom: 1px solid $filter-btn-border;
        .left-sec-footer {
            max-width:250px;
            width: 100%;
            figure {
                width: 104px;
                height: 26px;

                path {
                    fill: $primary-color;
                }
            }

            p {
                font-size: 16px;
                line-height: 20px;
                color: $global-black;
                padding: 25px 0;
            }

            .social-icons {
                gap: 18px;

                a {
                    color: $likes-text-color;

                    i {
                        font-size: 24px;
                    }
                }
            }
        }

        .footer-link-wrapper {
            .footer-link {
                max-width: 150px;
                width: 100%;

                .footer-link-head {
                    font-family: $helveticaneue-medium-font;
                    font-size: 16px;
                }

                .footer-link-list {
                    gap: 20px;

                    a {
                        font-size: 14px;
                        color: $likes-text-color;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 44px 0;

        .left-footer-bottom {
            font-size: 14px;
            color: $black-75;
        }

        .right-footer-bottom {
            gap: 16px;

            p {
                font-size: 14px;
                color: $black-75;

                span {
                    font-family: $helveticaneue-medium-font;
                    color: $global-black;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        .main-footer-row {
            gap: 80px;
        }
    }
}
@media screen and (max-width: 576px) {
    .footer {
        .footer-wrapper {
            .footer-link-wrapper {
                .footer-link{
                max-width: unset;

                }

            }
        }

    }
}